extends layout
extends layout
block content

	.row
		.col-xs-4.col-xs-offset-4
			img.img-responsive.img-circle(src="/images/me.png")
	
	h1.page-title About me

	.row
		.col-xs-12
			p
				| Hi There! I am software developer with graphics design background, currently based in Moscow, Russia. I've been doing professional web development for more than a decade, mostly with Ruby and Javascript.

			p
				| This blog is intended to be a research workbook on various topics that I want to explore and that don't fit into my current work projects. While studying in graphichs design school I've learned one thing that are missed by many people — best way to learn is to experiment and fail, get out of comfort zone, keep open mind. This is so important in always evolving world of web dev, where new things keep popping up every hour.