extends layout

block content

  - each post, i in posts

    .blog-post
      h2.blog-post-title
        a(href='/posts/#{post.slug}')= post.title

      p.blog-post-meta
        = moment(post.created_at).format('MMMM D YYYY')

      div!= md.render(post.excerpt)

      p
        a(href='/posts/#{post.slug}') Read more

  nav
    ul.pager

      if nextPage
        li
          a(href='/page/'+nextPage) Next

        

  
