extends layout

block content

  - each post, i in posts

    .blog-post
      h2.blog-post-title
        a(href='/posts/#{post._id}')= post.title

      p.blog-post-meta
        = moment(post.created_at).format('MMMM D YYYY')

      p= post.excerpt

      p
        a(href='/posts/#{post._id}') Read more

  nav
    ul.pager

      if prevPage
        li
          a(href='/page/'+prevPage) Previous

      if nextPage
        li
          a(href='/page/'+nextPage) Next

        