extends ../layout

block content
  h2 Edit post Id #{post._id}


  form(action='/admin/posts/#{post._id}',method='post',name='updatepost',enctype='application/x-www-form-urlencoded')

    input(type='hidden',value='PUT',name='_method')
    
    .form-group
      label(for='tile') Title
      input.form-control(name='title' type='text' placeholder='Enter title' value=post.title)

    .form-group
      label(for='slug') Slug
      input.form-control(name='slug' type='text' placeholder='Enter slug' value=(post.slug ? post.slug : ''))

    .checkbox
      label
        input#is_published(name='is_published', checked=(post.is_published === true ? 'checked' : undefined),type='checkbox')

        | Post is published

    .form-group
      label(for='excerpt') Excerpt
      textarea.form-control#excerpt(name='excerpt', rows=5, cols=10)
        = post.excerpt

    .form-group
      label(for='body') Body
      textarea.form-control#body(name='body', rows=5, cols=10)
        = post.body

    button.btn.btn-default(type='submit') Submit
    a.btn.btn-default(href='/admin/posts') Cancel
