extends ../layout

block content
  h2 Listing all posts

  p
    a(href='/admin/posts/new') Create new

  table.table.table-striped.posts
    thead
      tr
        th Title
        th Created at
        th Updated at
        th

      - each post, i in posts
        tr
          td.title
            a(href='/admin/posts/#{post._id}/edit')= post.title

          td.created_at= moment(post.created_at).format('MM/DD//YYYY HH:mm:ss')
          td.updated_at= moment(post.updated_at).format('MM/DD//YYYY HH:mm:ss')
          td.actions
            .buttons
              form(action='/admin/posts/#{post._id}',method='post',enctype='application/x-www-form-urlencoded')
                input(type='hidden',value='DELETE',name='_method')
                button.delete-post.btn.btn-default.btn-xs(type='submit').
                  Delete