extends ../layout

block content
  h2.
    #{title}
  
  form#formAddPost(name="addpost",method="post",action="/admin/posts")
    
    p Title: 
      input#inputTitle(type="text", placeholder="Enter title...", name="title")

    p Slug: 
      input#inputSlug(type='text', placeholder='', name='slug')

    p Excerpt:
      textarea#inputExcerpt(name='excerpt', rows=5, cols=10)
    
    p Body:
      textarea#inputBody(placeholder="Enter body...", name="body")

    p Is post published?: 
      input#inputIsPublished(type='checkbox', name='is_published')
        
    p
      button#btnSubmit(type="submit") Create
      a(href='/admin/posts') Cancel