extends ../layout

block content
  h2 New post


  form(method="post",action="/admin/posts",enctype='application/x-www-form-urlencoded')

    
    .form-group
      label(for='tile') Title
      input.form-control(name='title' type='text' placeholder='Enter title')

    .form-group
      label(for='slug') Slug
      input.form-control(name='slug' type='text' placeholder='Enter slug')

    .checkbox
      label
        input#is_published(name='is_published',type='checkbox')

        | Post is published

    .form-group
      label(for='excerpt') Excerpt
      textarea.form-control#excerpt(name='excerpt', rows=5, cols=10)

    .form-group
      label(for='body') Body
      textarea.form-control#body(name='body', rows=5, cols=10)

    button.btn.btn-default(type='submit') Submit
    a.btn.btn-default(href='/admin/posts') Cancel
