extends ../layout

block content
  h1.
    #{title}

  a(href='/posts/new') Create new

  ul
    - each post, i in posts
      li
        = post.title
        br.
        strong
          = post.created_at
        form(action='/posts/#{post._id}',method='post',enctype='application/x-www-form-urlencoded')
          input(type='hidden',value='DELETE',name='_method')
          button(type='submit').
            Delete
        p 
          a(href='/posts/#{post._id}/edit') Edit
        p
          a(href='/posts/#{post._id}') Show